.productWrapper .product {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;
}
.product img {
  width: 200px; 
  height: 150px; 
  object-fit: contain;
  margin-bottom: 20px;

}
.productWrapper {
  display: flex;
  flex-wrap: wrap;
}